//Colors
$darkgrey: #242424;
$lightgrey: #353535;
$background-accient: #826550;
$background-light: #F8F5F2;
$menu-accient: #6A4D38;
$icon-accient: #826550;
$text-color-dark: #000000;
$text-color-light: #ffffff;


//Viewports
$tablet-width: 768px;
$desktop-width: 1068px;
$mobile-width-only: 767px;

