//Colors
$darkgrey: #242424;
$lightgrey: #353535;
$background-accient: #826550;
$menu-accient: #6A4D38;
$icon-accient: #826550;
$text-color-dark: #000;
$text-color-light: #fff;


//Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1068px;

